/* .header{
    width:100% !important;
    height: 64px;
    display: flex;
    background: rgb(255, 191, 0);
    padding: 0 16px; /* optional: gives some spacing */
    /* box-sizing: border-box;
    
}
.logo{
    height: 100%;
    width: auto;

} */ 